.resume-card{
  position: relative;
  text-align: center;
  border: #B6BAE2 solid 2px;
  box-shadow: 5px 5px 5px lightsteelblue;
  margin: 2rem;
  background: white;
}

.resume-card-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.resume-card-image{
  height: 15rem;
  width: auto;
  margin: 0 auto;
  opacity: 0.2;
}

.resume-card-image-error{
  margin-top: auto;
  margin-bottom: auto;
}