.resume-card{
  position: relative;
  text-align: center;
  border: #9297D3 solid 2px;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px lightsteelblue;
  background: white;
  height: 15rem;
  width: 30rem;
  margin: 1rem auto;
}

.resume-card-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.resume-card-image{
  height: 15rem;
  width: 30rem;
  margin: 0 auto;
  opacity: 0.2;
  object-fit: contain;
}

.resume-card-image-error{
  margin-top: auto;
  margin-bottom: auto;
}

.resume-card-container{
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}