.company-info-container{
  display: grid;
  grid-template-columns: 30% 70%;
}

.company-info-details-container{
  margin: auto 0.5rem;
}

.company-logo{
  border-radius: 50%;
  border: #9297d3 solid 2px;
  object-fit: contain;
}