.about-me-image{
  height: 20rem;
  width: auto;
}

.about-me-media{
  height: 15rem;
  width: auto;
  margin: 0.5rem;
}

.self-description-container{
  display: grid;
  grid-template-columns: 30% 70%;
}

.self-description-text-container{
  margin: auto 0;
}

.about-me-container{
  width: 80%;
  margin: 0 auto;
  color: #2D5C7D
}

