.suki-image-container{
  width: 80%;
  margin: 0 auto;
  background: #79a8c9;
  padding: 2rem;
  border-radius: 2rem;
}

.suki-image{
  height: 25rem;
  width: auto;
  border-radius: 2rem;
  margin: 1rem;
}

.suki-shrine{
  color: #2D5C7D
}